#root {
  background-color: #f1f1f1;
  height: calc(100vh - 56px)
}

body {
  padding-top: 56px;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.main {
  min-height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  margin-bottom: 2rem;

  background: url('/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1C2735;

  color: #FFF;
  text-shadow: 3px 3px 5px #00000070;
}

.hero h1 {
  font-size: 3rem;
}

.hero .hero-sub {
  font-size: 1.5rem;
}

nav a {
  color: #FFF;
  text-decoration: none;
  padding: 8px;
}

nav a.active {
  color: #f2c42f
}

button .btn {
  color: #FFF !important
}

box-icon:hover {
  cursor: pointer;
}